/* z index bisa kita gunakan untuk mengatur tumpukan dari elemen yang non static yaitu relative, absolute dan fix  */

div {
  width: 200px;
  height: 200px;
  position: absolute;
}
.satu {
  background-color: salmon;
  z-index: 1;
}
.dua {
  /* z index yang paling depan ditentukan oleh z-index itu sendiri  */
  background-color: lightgreen;
  top: 100px;
  left: 100px;
  z-index: 2;
}
.tiga {
  background-color: royalblue;
  top: 200px;
  left: 200px;
}
